<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% csrf_token %}
<!--{{ form }}-->
<form method="POST">
        <div class="input-group">
            ip:{{ form.ip }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ps:192.169.1.1,192.168.1.2
            {% if form.errors %}
            <span>{{ form.errors }}</span>
            {% endif %}
        </div>
        <div class="input-group">
            playbook_path:{{ form.playbook_path }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ps:/etc/ansible/usermanagement.yml
            {% if error.playbook_path %}
            <span>{{ error.playbook_path.0 }}</span>
            {% endif %}
        </div>
        <!--<div class="input-group">-->
            <!--{{ form.book_type }}-->
            <!--{% if error.book_type %}-->
            <!--<span>{{ error.book_type.0 }}</span>-->
            <!--{% endif %}-->
        <!--</div>-->
        <div>
            <input type="submit" value="提交" />
        </div>
</form>
</body>
</html>